@{

}
<div class="page-header">
	<div class="page-title">
		<h3>Costos de productos</h3>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>Start Percent (%)</label>
					<input id="start-percent"  onkeypress="return onlyDecimalKey(event)" value="" type="text" />
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>End Percent (%) </label>
					<input id="end-percent" onkeypress="return onlyDecimalKey(event)" value="" type="text" />
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12" style="padding-top: 20px;">
				<button id="btn-report" class="btn btn-primary m-2 ">Generate PDF Report</button>
			</div>
			<div class="col-lg-3 col-sm-6 col-12" style="padding-top: 20px;">
				<button id="btn-excelreport" class="btn btn-primary m-2 ">Generate Excel Report</button>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function () {
		$("#btn-report").click(function () {
			var from = parseInt($("#start-percent").val());
			var to = parseInt($("#end-percent").val());
			ShowLoader()
			$.ajax({
				type: "POST",
				url: "/Report/GenerateCostPercentReport?from=" + from + "&to=" + to,
				success: function (data) {
					HideLoader()
					if (data.status == 0) {
						window.open(data.url, '_blank');
					}
				},
				error: function () {
					
				}
			});
		});

		$("#btn-excelreport").click(function () {
			var from = parseInt($("#start-percent").val());
			var to = parseInt($("#end-percent").val());
			ShowLoader()
			$.ajax({
				type: "POST",
				url: "/Report/CostPercentReportExcel?from=" + from + "&to=" + to,
				success: function (data) {
					HideLoader()
					if (data.status == 0) {
						window.open(data.url, '_blank');
					}
				},
				error: function () {
				
				}
			});
		});
	});
</script>